.about__wrapper {
  position: relative;
  max-width: 61%;
  padding: 53px 5px 110px 180px;
  margin: 0 auto;
}

.about__title {
  @include font-condensed-min;
  color: $middlegrey;
  font-size: 36px;
  margin: 0;
  margin-bottom: 20px;
}

.about__description {
  color: $middlegrey;
  margin: 0 0 20px;
}

.about__description--two {
  margin-bottom: 39px;
}

.about__btn {
  @include font-condensed-btn;
  color: $bg-blue;
  border: $bg-blue 1px solid;
  padding: 14px 50px 13px;
}

.about__btn:hover,
.about__btn:focus {
  box-shadow: 0 0 0 2px $bg-blue;
}

.about__wrapper::before {
  content: "";
  position: absolute;
  top: 56px;
  left: -29px;
  height: 317px;
  width: 150px;
  background-image: url("../img/2005.png");
  background-repeat: no-repeat;
  background-size: contain;
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .about__wrapper::before {
    background-image: url("../img/2005@2x.png");
    height: 317px;
    width: 222px;
  }
}

@media (max-width: $tablet-width) {
  .about__wrapper {
    width: auto;
    max-width: 100%;
    margin: 0;
    padding: 0 25px 83px 210px;
  }

  .about__title {
    font-size: 32px;
    margin: 3px 0 25px;
  }

  .about__description {
    margin: 0 3px 20px;
  }

  .about__description--two {
    margin-bottom: 42px;
  }


  .about .about__two {
    display: none;
  }

  .about__2dots {
    display: inline;
  }

  .about__wrapper::before {
    top: -1px;
    left: 0;
    width: 242px;
    height: 362px;
    background-image: url("../img/tablet-2005@1x.png");
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .about__wrapper::before {
      background-image: url("../img/tablet-2005@2x.png");
    }
  }

  .about__btn {
    padding: 13px 50px 14px;
    margin-left: 3px;
  }
}

@media (max-width: $mobile-width) {
  .about {
    padding-top: 0;
  }

  .about__wrapper {
    padding: 0;
    margin: 0 15px 0 17px;
  }

  .about__wrapper::before {
    display: none;
  }

  .about__title {
    font-size: 27px;
    margin: 0 0 23px;
  }

  .about__description {
    margin-bottom: 47px;
    line-height: 21px;
    letter-spacing: normal;
    padding-left: 5%;
    margin-right: 0;
  }

  .about__description--two {
    margin-bottom: 33px;
  }

  .about__btn {
    margin-bottom: 23px;
    margin-left: 0;
  }
}
