.about__wrapper {
  position: relative;
  max-width: 61%;
  padding: 50px 1px 109px 180px;
  margin: 0 auto;
}

.about__title {
  @include font-condensed-min;
  color: $middlegrey;
  margin: 0;
  margin-bottom: 15px;
}

.about__description {
  color: $middlegrey;
  margin: 0 0 20px;
}

.about__description--two {
  margin-bottom: 40px;
}

.about__btn {
  @include font-condensed-btn;
  color: $bg-blue;
  border: $bg-blue 1px solid;
  padding: 14px 50px 14px 50px;
}

.about__wrapper::before {
  content: "";
  position: absolute;
  top: 55px;
  left: -30px;
  height: 317px;
  width: 150px;
  background-image: url("../img/2005.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .about__wrapper::before {
    background-image: url("../img/2005@2x.png");
  }
}

@media (max-width: $tablet-width) {
.about__wrapper {
    width: auto;
    max-width: 100%;
    margin: 0;
    padding: 0 20px 83px 212px;
  }

  .about__title {
    font-size: 32px;
    margin: 0 0 20px;
  }

  .about__description {
    margin-bottom: 20px;
  }

  .about__description--two {
    margin-bottom: 40px;
  }


  .about .about__two {
    display: none;
  }

  .about__2dots {
    display: inline;
  }

  .about__wrapper::before {
    top: 0;
    left: 0;
    width: 244px;
    height: 362px;
    background-image: url("../img/tablet-2005@1x.png");
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .about__wrapper::before {
      background-image: url("../img/tablet-2005@2x.png");
    }
  }
}

@media (max-width: $mobile-width) {
  .about {
    padding-top: 0;
  }

  .about__wrapper {
    // max-width: 91%;
    padding: 0;
    margin: 0 15px 0 17px;
  }

  .about__wrapper::before {
    display: none;
  }

  .about__title {
    font-size: 27px;
    margin: 0 0 23px;
  }

  .about__description {
    margin-bottom: 47px;
    line-height: 21px;
    letter-spacing: normal;
    padding-left: 6%;
  }

  .about__description--two {
    margin-bottom: 33px;
  }

  .about__btn {
    margin-bottom: 23px;
  }
}
