.about__title {
  @include font-condensed-min;
  color: $middlegrey;
  margin-bottom: 15px;
}

.about__company {
  margin-bottom: 30px;
  color: $middlegrey;
}

.about__btn {
  @include font-condensed-btn;
  color: $bg-blue;
  border: $bg-blue 1px solid;
  padding: 14px 50px 14px 50px;
}

.about__wrapper {
  position: relative;
  max-width: 1170px;
  padding-left: 180px;
  padding-bottom: 110px;
  margin-right: auto;
  margin-left: auto;
}

.about__wrapper::before {
  @include font-condensed-supermax;
  content: "2005";
  position: absolute;
  top: 90px;
  left: -18px;
  height: 120px;
  width: auto;
  transform: rotate(270deg);
  background: url("../img/digiboard@1x.png");
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media only screen and (min-resolution: 124.8dpi),
  only screen and (min-resolution: 1.3dppx) {
  .about__wrapper::before {
    background: url("../img/digiboard@2x.png");
  }
}

.about__description {
  margin-bottom: 20px;
}

@media (max-width: $tablet-width) {
  .about__wrapper {
    max-width: 532px;
    padding-left: 180px;
    padding-bottom: 80px;
  }
}

@media (max-width: $mobile-width) {
  .about__wrapper {
    max-width: 532px;
    padding: 15px;
  }

  .about__wrapper::before {
    display: none;
  }
}
