@media (max-width: $mobile-width) {
  .accordion-btn {
    position: absolute;
    width: 16px;
    height: 16px;
    right: 5%;
    padding: 0;
    top: 28px;
    background-color: transparent;
    border: 0;
    cursor: pointer;

    &::before,
    &::after {
      top: 50%;
      left: 0;

      background-color: $ac-grey;
      transition: $transition-duration $transition-type;

      @include pseudo(16px, 1px);
    }

    &::after {
      transform: rotate(90deg);
    }

    &:focus {
      &::before,
      &::after {
        background-color: $bg-black;
      }
    }

    &--on {
      &::before {
        transform: rotate(-180deg);
      }

      &::after {
        transform: rotate(0deg);
      }
    }

    & + nav,
    & + ul {
      display: none;
    }

    &--on + nav,
    &--on + ul {
      display: flex;
    }

    &--on + ul {
      padding-top: 31px;
    }
  }

  .accordion-btn__show + nav,
  .accordion-btn__show + ul {
    display: flex;
    margin-top: 31px;
    margin-right: 10px;
  }
}
