.attribute {
  padding: 111px 0 25px;
}

.attribute__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  max-width: 1230px;
  padding: 0 30px;
  margin: 0 auto;
}

.attribute__item {
  position: relative;
  width: calc(50% - 15px);
  align-items: center;
  border: $superlightgrey 1px solid;
  border-left: $bg-blue 3px solid;
  color: $middlegrey;
  min-height: 299px;
  padding: 40px 44.61px 49px 42.63px;
  margin-bottom: 30px;
  cursor: pointer;
  transition: $transition-duration $transition-type;

  &:hover {
    background-color: $bg-blue;
  }

  &:focus {
    background-color: $bg-blue;
  }
}

.attribute__item:hover .attribute__text,
.attribute__item:hover .attribute__title {
  color: $white;
}

.attribute__item svg {
  display: block;
  margin-bottom: 20px;
  fill: $bg-blue;
}

.attribute__item:hover svg,
.attribute__item:focus svg {
  fill: $white;
}

.attribute__title {
  @include font-condensed;
  color: $bg-blue;
  margin-top: 15px;
  margin-bottom: 15px;
}

.attribute__text {
  @include font-basic;
  color: $middlegrey;
  margin-top: 15px;
  margin-bottom: 15px;
}

@media (max-width: $tablet-width) {
  .attribute {
    padding: 35px 0 25px;
  }

  .attribute__list {
    width: 100%;
    padding: 18px 25px 0;
    margin-bottom: 0;
  }

  .attribute__item {
    border-left: $bg-blue 2px solid;
    width: calc(48% - 1px);
    min-height: 232px;
    padding: 23px 28px 25px 25px;
  }

  .attribute__item svg {
    margin-bottom: 6px;
    height: 37px;
    width: 31px;
  }

  .attribute__title {
    margin-top: 0;
    margin-bottom: 4px;
  }

  .attribute__text {
    line-height: 21.7px;
    margin-top: 8px;
    margin-bottom: 2px;
  }

  .attribute__item--provider svg {
    margin-bottom: 10px;
    height: 32px;
    width: 32px;
  }

  .attribute__item--detective {
    padding-right: 18px;
  }

  .attribute__item--detective svg {
    width: 31px;
    height: 34px;
    margin-bottom: 7px;
  }

  .attribute__item--detective .attribute__text {
    padding-top: 9px;
  }
}

@media (max-width: $mobile-width) {
  .attribute {
    padding: 0 0 17px;
  }

  .attribute__list {
    width: 100%;
    padding: 37px 14px 22px;
    margin-bottom: 0;
  }

  .attribute__wripper {
    margin-left: 15px;
    margin-right: 15px;
  }

  .attribute__item {
    margin-bottom: 20px;
    min-height: auto;
    width: 100%;
    padding: 23px 20px 28px 24px;
  }

  .attribute__item svg {
    margin-bottom: 8px;
  }

  .attribute__title {
    @include font-condensed-20;
  }

  .attribute__text {
    line-height: 1.36em;
  }

  .attribute__item--provider {
    padding: 23px 15px 28px 24px;
  }

  .attribute__item--provider svg {
    margin-bottom: 13px;
  }

  .attribute__item--detective svg {
    margin-bottom: 7px;
  }

  .attribute__item--detective .attribute__title {
    line-height: 28px;
  }

  .attribute__item--cost svg {
    margin-bottom: 5px;
  }
}
