.communication__list {
  @include list-reset;
  display: flex;
  position: relative;
}

.communication--wripper {
  width: 75%;
  margin: 0 auto;
}

@media (max-width: $tablet-width) {
  .communication--wripper {
    width: 91%;
  }

  .communication__list {
    flex-wrap: wrap;
  }

  .communication__item--logo {
    width: 100%;
    padding-top: 19px;
    padding-bottom: 26px;
  }

  .communication__item--logo::before {
    position: absolute;
    content: "";
    height: 1px;
    width: 100%;
    top: 77px;
    left: 0;
    background-color: $ss-grey;
    opacity: 0.2;
  }
}
