.communication {
  border-bottom: 1px solid $opacity-border;
  width: 73.5%;
  margin: 0 auto;
}

.communication__list {
  @include list-reset;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-top: 72px;
}

.communication__accordion-btn {
  display: none;
}

@media (max-width: $tablet-width) {
  .communication {
    width: 100%;
  }

  .communication__list {
    padding: 19px 0 22px;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid rgba(98, 105, 98, 0.2);
  }
}

@media (max-width: $mobile-width) {
  .communication {
    flex-direction: column;
    align-items: center;
  }

  .communication__list {
    position: relative;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 46px;
    padding-bottom: 0;
  }

  .communication__item {
    position: relative;
    margin: 0;
    padding: 20px;
  }

  .communication__accordion-btn {
    display: block;
  }
}
