.copyrights {
  border-top: $opacity-border;
  padding: 17px 0 9px 15px;
}

.copyrights__list {
  @include list-reset;
  min-width: 112px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.copyright__item {
  list-style: none;
  margin-right: 60px;
  padding: 15px 0;
}

.copyrights__link {
  text-decoration: none;
}

.copyrights__info,
.copyrights__link {
  @include font-supermin;
  // padding: 14px 0;
  color: $bg-black;
  text-transform: uppercase;
  opacity: 0.5;
}

.copyrights__info--SD {
  margin-left: 63px;
}

.copyrights__item--two {
  margin-left: -16%;
}

@media (max-width: $tablet-width) {
  .copyrights {
    padding: 22px 26px 20px 25px;
  }

  .copyrights__item--right {
    display: none;
  }

  .copyrights__item--two {
    margin-left: 0;
  }
}

@media (max-width: $mobile-width) {
  .copyrights {
    padding: 28px 25px 24px;
  }

  .copyrights__list {
    flex-direction: column;
    align-items: center;
  }

  .copyrights__item {
    padding: 0 5%;
  }

  .copyrights__item--two {
    margin-bottom: 21px;
  }

  .copyrights__link {
    align-items: center;
  }
}
