.feedback {
  .font-media__regular;
  text-align: center;
}

.feedback__sedona {
  margin-left: auto;
  margin-right: auto;
  width: 276px;
  margin-bottom: 15px;
  margin-top: 35px;
}

.feedback__sedona h2 {
  margin-bottom: 20px;
}

.feedback__sedona--description {
  .reset;
  color: @darkgrey;
}

.feedback h2 {
  .font-bolder;
}

.feedback-btn {
  position: absolute;
}

@media (min-width: @tablet-width) {
  .feedback__sedona {
    width: 439px;
    margin-bottom: 75px;
    padding: 0;
    border: none;
    text-align: center;
  }

  .feedback__sedona h2 {
    .font-superbold;
    margin: 0;
    margin-bottom: 30px;
  }

  .feedback__sedona--description {
    text-align: center;
  }
}

@media (min-width: @desktop-width) {
  .feedback__sedona {
    margin-bottom: 60px;
  }
}
