.feedback {
  background-color: $bg-blue;
  padding-top: 93px;
  padding-bottom: 74px;
  line-height: 12px;
}

.feedback__container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  position: relative;
  padding: 0 15px 0 615px;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-end;
}

.feedback__title {
  @include font-condensed-min;
  margin: 0 0 13px;
  color: #ffffff;
  font-size: 35px;
}

.feedback__text {
  color: #ffffff;
  margin: 3px 0 54px;
  line-height: 16px;
}

.feedback__container::before {
  content: "";
  position: absolute;
  background-image: url("../img/paper_airplane_3d_model@1x.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 509px;
  height: 288px;
  top: calc(50% - 184px);
  left: -8px;

  @media only screen and (min-resolution: 124.8dpi),
    only screen and (min-resolution: 1.3dppx) {
    background-image: url("../img/paper_airplane_3d_model@2x.png");
  }
}

.feedback__form {
  display: flex;
}

@media (max-width: $tablet-width) {
  .feedback {
    padding: 0;
    margin-bottom: 0;
  }

  .feedback__title {
    font-size: 32px;
    margin-left: -4px;
    margin-bottom: 13px;
  }

  .feedback__text {
    margin-top: 20px;
    margin-bottom: 57px;
  }

  .feedback__container {
    padding: 80px 87px 80px 92px;
  }

  .feedback__container::before {
    display: none;
  }
}

@media (max-width: $mobile-width) {
  .feedback__title {
    line-height: 1.4;
    font-size: 28px;
    margin: 15px 0 13px;
  }

  .feedback__text {
    margin-top: 13px;
    margin-bottom: 26px;
    line-height: 1.4;
  }

  .feedback__container {
    padding: 15px;
  }
}
