.form {
  justify-content: space-between;
  flex-wrap: wrap;
}

.form__text {
    background-color: rgba(255, 255, 255,  0.1);
    border: none;
    color: $white;
    width: 45%;
    margin-bottom: 40px;
    display: flex;
    align-items: stretch;
    padding: 15px;
}
.form__text::placeholder {
    color: $white;
}

.form__text--textarea {
  width: 100%;
}

.form__btn {
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 40px;
  padding: 15px 79px;
  background-color: inherit;
  border: 1px solid $white;
  border-radius: 3px;
}

.form__chkbx {
  display: none;
}

.form__data-process {
  position: relative;
  line-height: 20px;
  width: 53%;
  padding-left: 35px;
  font-size: 14px;
  color: $white;
}

.form__data-process::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  border: 1px solid $white;
}

.form__chkbx:checked + .form__data-process::after  {
  content: "";
  position: absolute;
  top: 5px;
  left: 4px;
  width: 10px;
  height: 10px;
  background: url(../img/chbox.svg) no-repeat;
}

@media (max-width: $tablet-width) {
  .form__text {
    width: 100%;
  }

  .form__data-process {
    width: auto;
  }
}
