.logo {
  position: relative;
  margin-left: 0;
}

.logo__icon {
  width: 202px;
  height: 52px;
}

.logo__icon-mobile {
  display: none;
}

@media (max-width: $tablet-width) {
  .logo {
    margin: 0;
  }
}

@media (max-width: $mobile-width) {
  .logo {
    max-width: 151px;
  }

  .logo__icon {
    display: none;
  }
}
