.nav__list {
   display: flex;
   list-style: none;
   margin: 0;
   padding: 0;
}

.nav__item {
  margin: 0;
  padding: 0;
}

.nav__link {
  margin-top: 10px;
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
}

.nav__item--mail {
   margin-right: 0.14%;

}

.nav__item--tel {
   min-width: 220px;
   margin-right: 0.06%;
}

.nav__icon--tel {
  display: inline-block;
   width: 17px;
   height: 17px;
   margin-right: 16px;
   white-space: nowrap;
}

.nav__icon--mail {
  display: inline-block;
  width: 19px;
  height: 14px;
  margin-right: 17px;
  white-space: nowrap;
}

.nav__btn {
  width: 180px;
  height: 45px;
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  padding: 14px 13px 8px 12px;
  color: $bg-lightgrey;
}

.nav__burger {
  display: none;
}

@media (max-width: $tablet-width) {
  .nav__link {
    font-size: 0;
  }

  .nav__burger {
    display: block;
  }
  .nav__open-menu {
    position: relative;
  }

  .nav__open-menu::before {
    content: "";
    width: 37px;
    height: 1px;
    background-color: $white;
    margin-bottom: 11px;

  }
  .nav__item--btn {
    display: none;
  }

  .nav__icon--tel {
     width: 24px;
     height: 24px;
     margin-right: 5px;
  }

  .nav__icon--mail {
    width: 25px;
    height: 19px;
    margin-right: 5px;
  }
  .nav__item--mail {
    margin-right: 0;
    min-width: 25px;
  }

 .nav__item--tel {
    margin-right: 0;
    min-width: 24px;
    height: 24px;

  }
}
