.nav {
  display: flex;
  justify-content: flex-end;
  max-width: 640px;
}

.nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav__item {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.nav__link {
  position: relative;
  padding-left: 40px;
  // padding-top: 20px;
}

.nav__link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
}

.nav__link--tel::before {
  width: 18px;
  height: 18px;
  background-image: url("../img/icon-phone.svg");
}

.nav__link--mail::before {
  width: 18px;
  height: 18px;
  background-image: url("../img/icon-mail.svg");
}

.nav__item--tel {
  margin-left: 10px;
}

.nav__item--btn {
  margin-left: 40px;
}

.nav__link--mail,
.nav__link--tel {
  white-space: nowrap;
  display: block;
}

.nav__btn {
  @include font-condensed-btn;
  width: 180px;
  height: 45px;
  line-height: 16px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  padding: 14px 13px 8px 12px;
  // margin-top: 10px;
  color: $bg-lightgrey;
}

.nav__open-menu {
  position: relative;
}

.nav__open-menu::before {
  content: "";
  position: absolute;
  left: 0;
  width: 37px;
  height: 1px;
  background-color: $white;
}

.nav__open-menu--one::before {
  top: 0;
}

.nav__open-menu--two::before {
  top: 11px;
}

.nav__burger {
  display: none;
}

@media (max-width: $tablet-width) {
  .nav {
    width: 157px;
    justify-content: space-between;
    align-items: flex-start;
  }

  .nav__list {
    width: 135px;
    justify-content: space-between;
    padding-top: 10px;
  }

  .nav__link {
    font-size: 0;
  }

  .nav__burger {
    display: block;
    padding-right: 40px;
    padding-top: 20px;
  }

  .nav__open-menu {
    position: relative;
  }

  .nav__open-menu::before {
    content: "";
    width: 37px;
    height: 1px;
    background-color: $white;
    margin-bottom: 11px;
  }

  .nav__item--btn {
    display: none;
  }

  .nav__link--mail::before {
    width: 25px;
    height: 19px;
    left: 30px;
    top: -10px;
  }

  .nav__link--tel::before {
    width: 24px;
    height: 24px;
    left: 15px;
    top: -12px;
  }
}

@media (max-width: $mobile-width) {
  .nav {
    width: 137px;
  }

  .nav__link--tel {
    padding-right: 40px;
  }

  .nav__link--tel::before {
    left: 15px;
    top: 0;
  }
}
