.offers {
  width: 100%;
  background-color: $bg-black;
}

.offers__wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding: 50px 15px 0;
  position: relative;
}

.offers__title {
  @include font-condensed-medium;
  padding-top: 40px;
  margin: 0;
}

.offers__list {
  padding: 0 0 127px;
  margin: 50px 0 0;
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.offers__item {
  width: 31.6%;
  padding: 0;
  margin: 0;
}

.offers__link {
  @include font-condensed-20;
  font-size: 21px;
  line-height: 1.4;
  width: 100%;
  height: 620px;
  padding: 51px 155px 0 43px;
  display: flex;
  position: relative;
  color: $white;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 0;
  text-decoration: none;
  background-color: $bg-black;
}

.offers__link:hover,
.offers__link:focus {
  box-shadow: 0 0 0 2px $white;
}

.offers__link::before {
  content: "";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 63px;
  height: 63px;
  bottom: 1px;
  right: 0;
  background-color: $bg-blue;
  background-image: url("../img/more.svg");
  background-repeat: no-repeat;
  background-size: 6px 13px;
  background-position: calc(50% + 3px) 50%;
  z-index: 2;
}

.offers__link--boards {
  background-image: url("../img/services_desktop_board@1x.png");
}

.offers__link--mount {
  background-image: url("../img/services_desktop_mount@1x.png");
}

.offers__link--led {
  background-image: url("../img/services_desktop_led@1x.png");
  background-size: cover;
}

@media only screen and (min-resolution: 124.8dpi),
  only screen and (min-resolution: 1.3dppx) {
  .offers__link--boards {
    background-image: url("../img/services_desktop_board@2x.png");
  }

  .offers__link--mount {
    background-image: url("../img/services_desktop_mount@2x.png");
  }

  .offers__link--led {
    background-image: url("../img/services_desktop_led@2x.png");
    background-size: cover;
  }
}

@media (max-width: $tablet-width) {
  .offers__wrapper {
    padding: 25px 24px 32px 26px;
  }

  .offers__title {
    @include font-condensed-min;
    padding: 25px 100px 51px 0;
  }

  .offers__item {
    width: 100%;
    padding-bottom: 46px;
  }

  .offers__list {
    flex-direction: column;
    padding: 0;
    margin: 0;
  }

  .offers__link {
    font-size: 20px;
    line-height: 30px;
    height: 256px;
    padding: 40px 70% 40px 45px;
  }


  .offers__link::before {
    bottom: 0;
    background-position: calc(50% + 2px) 50%;
  }

  .offers__link--boards {
    background-image: url("../img/services_tablet_board@1x.png");
  }

  .offers__link--mount {
    background-image: url("../img/services_tablet_mount@1x.png");
  }

  .offers__link--led {
    background-image: url("../img/services_tablet_led@1x.png");
  }

  @media only screen and (min-resolution: 124.8dpi),
    only screen and (min-resolution: 1.3dppx) {
    .offers__link--boards {
      background-image: url("../img/services_tablet_board@2x.png");
    }

    .offers__link--mount {
      background-image: url("../img/services_tablet_mount@2x.png");
    }

    .offers__link--led {
      background-image: url("../img/services_tablet_led@2x.png");
    }
  }
}

@media (max-width: $mobile-width) {
  .offers__wrapper {
    padding: 15px 15px 34px;
  }

  .offers__title {
    @include font-condensed-popup;
    padding: 37px 0 40px 10px;
    line-height: 141.62%;
  }

  .offers__item {
    padding-bottom: 30px;
  }

  .offers__link {
    font-size: 20px;
    padding: 21px 35% 40px 35px;
  }

  .offers__link::before {
    bottom: 0;
    background-position: 50%;
  }

  .offers__link--boards {
    background-image: url("../img/services_mobile_board@1x.png");
  }

  .offers__link--mount {
    background-image: url("../img/services_mobile_mount@1x.png");
  }

  .offers__link--led {
    background-image: url("../img/services_mobile_led@1x.png");
  }

  @media only screen and (min-resolution: 124.8dpi),
    only screen and (min-resolution: 1.3dppx) {
    .offers__link--boards {
      background-image: url("../img/services_mobile_board@2x.png");
    }

    .offers__link--mount {
      background-image: url("../img/services_mobile_mount@2x.png");
    }

    .offers__link--led {
      background-image: url("../img/services_mobile_led@2x.png");
    }
  }
}
