.page-main {
  margin: 0;
  padding: 0;
  background-color: $bg-black;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  background-color: $bg-black;
  position: relative;
  padding-bottom: 278px;
}

.page-main__title {
  font-family: "Roboto Condensed";
  font-weight: bold;
  font-size: 80px;
  line-height: 94px;
  text-transform: uppercase;
  margin-bottom: 31px;

}


.page-main__screen {
  padding-top: 200px;
  padding-right: 450px;
  padding-bottom: 275px;
  // width: 718px;
  display: flex;
  flex-direction: column;
  position: relative;
  // height: 94px;
}

.page-main__screen::before {
  content: "";
    position: absolute;
    background-image: url("../img/plata.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    width: 705px;
    height: 515px;
    top: 179;
    right: -220px;
}
.page-main__text {
    font-family: "PT Mono";
    font-size: 22px;
    line-height: 34px;
    margin-bottom: 37px;
}

.page-main .page-main__btn {
   padding: 17px 28px 14px;
   font-family: "Roboto Condensed";
   font-weight: bold;
   line-height: 19px;
   text-align: center;
   text-transform: uppercase;
   background-color: $bg-blue;
   border-color: $bg-blue;
}



@media (min-width: $tablet-width) {
  .page-main__burger {

  }
}
