.page-header {
   width: 100%;
   padding-top: 33px;
   background-color: $bg-black;
   box-sizing: border-box;

}
.page-header__nav {
  display: flex;
  justify-content: flex-end;
  max-width: 640px;
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin: auto;
}

.page-header__logo {
  max-width: 335px;
  display: flex;
  justify-content: space-between;
  margin-left: 0;
  margin-right: auto;
}
.page-header__icon {
  width: 202px;
  height: 52px;
}

.page-header__burger  {
   border: none;
}

@media (max-width: $tablet-width) {
  .page-header {
    display: flex;
    justify-content: space-between;
  }
  .page-header__icon-letter {
    width: 25.33px;
    height: 18.67px;
  }

  .page-header__icon-phone {
    width: 24px;
    height: 24px;
  }

  .page-header__logo {
    max-width: 202px;
  }

  .page-header__nav {
    width: 21%;
  }


}

@media (max-width: $mobile-width) {
  .page-header__logo {
    margin-left: auto;
  }

}
