.page-main {
  position: absolute;
  top: -10px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  position: relative;

  z-index: 1;
}

.page-main__color {
  background-color: $bg-black;
  background-image: url("../img/maska1x.png");
  width: 100%;
  z-index: 2;
}

.page-main__menu {
  display: flex;
}

.page-main__title {
  @include font-condensed-max;
  text-transform: uppercase;
  margin-bottom: 31px;
  max-width: 718px;
  display: flex;
  flex-wrap: wrap;
}


.page-main__screen {
  margin-right: auto;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  padding: 247px 0 278px;
  position: relative;
  z-index: 10;
}

.page-main__screen::after {
  content: "";
  width: 705px;
  height: 515px;
  position: absolute;
  background-image: url("../img/boardview@1x.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  top: 200px;
  right: -170px;
  z-index: -1;
}

.page-main__wrapper {
  position: relative;
  background-color: $bg-black;
  margin-bottom: 179px;
}

.page-main__text {
  @include font-medium;
    padding-left: 95px;
    margin-bottom: 37px;
    max-width: 778px;
    position: relative;

}
.page-main__text::before {
    content: "";
    width: 66px;
    height: 2px;
    position: absolute;
    background-color: $white;
    top: 15px;
    left: 0;
}

.page-main .page-main__btn {
  @include font-condensed-basic;
  box-sizing: border-box;
  max-width: 407px;
  text-align: center;
  padding: 17px 28px 14px 28px;
  margin-left: 98px;
  margin-bottom: 93px;
  text-transform: uppercase;
  background-color: $bg-blue;
  border-color: $bg-blue;
}

.page-main__btn-mobile {
  display: none;
}

.page-main__scroll {
  position: absolute;
  bottom:  93px;
  left: 143px;
  height: 93px;
  width: 13px;
  display: inline-block;
  transform: rotate(270deg);
  @include font-min;
  text-decoration: none;
  color: $white;
  opacity: 0.5;
}


@media (max-width: $tablet-width) {
  .page-main__title {
    max-width: 470px;
    @include font-condensed-medium;
  }

  .page-main__text {
    min-width: 356px;
    font-size: 18px;
    padding-left: 50px;
    width: 54%;
  }

  .page-main__scroll {
    display: none;
  }
  .page-main__text::before {
    width: 33px;
    height: 2px;
    top: 15px;
    left: 0;
  }
  .page-main__screen {
    padding: 0;
    padding: 247px;
  }

  .page-main__screen::after {
    width: 465px;
    height: 340px;
    background-position: 220px  60px;
    background-size: 100%;
    top: 0;
    right: 0;
  }
    .page-main__maska {
    margin-bottom: 54px;
  }

  .page-main__btn {
    margin-bottom: 163px;
  }


  .page-main__screen {
    padding: 116px 65px 160px;
  }

}
@media (max-width: $mobile-width) {

  .page-main__title {
    padding: 0;
    @include font-condensed-bold;
    margin-bottom: 30px;
  }

  .page-main__text {
    max-width: 245px;
    padding-left: 45px;
  }

  .page-main__screen {
    padding: 0;
    padding-top: 216px;
  }

  .page-main__screen::after {
    width: 301px;
    height: 220px;
    background-position: 0  0;
    background-size: 100%;
    top: 15px;
    right: -5px;
  }
  .page-main__maska {
    margin-bottom: 37px;
  }

  .page-main__wrapper {
    padding-top: 0;
    padding-right: 20px;
    z-index: 1;
  }

  .page-main__btn {
    display: none;

  }
  .page-main .page-main__btn-mobile {
    display: inline-block;
    @include font-condensed-basic;
    padding: 17px 11px;
    text-transform: uppercase;
    text-align: center;
    background-color: $bg-blue;
    border-color: $bg-blue;
    margin-bottom: 70px;
  }
}
