.page-main {
  position: absolute;
  top: -10px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  position: relative;
  padding-bottom: 278px;
  z-index: 1;
}

.page-main__maska {
   background-color: $bg-black;
   background-image: url("../img/maska1x.png");
   margin-bottom: 109px;
}

.page-main__title {
  font-family: "Roboto Condensed";
  font-weight: bold;
  font-size: 80px;
  line-height: 94px;
  text-transform: uppercase;
  margin-bottom: 31px;
  max-width: 718px;
  display: flex;
  flex-wrap: wrap;
}


.page-main__screen {
  margin-right: auto;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.page-main__wrapper {
  padding-top: 176px;
  position: relative;
}

.page-main__wrapper::before {
    content: "";
    position: absolute;
    background-image: url("../img/plata1x.png");
    background-position: 179px 220px;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-main__text {
    font-family: "PT Mono";
    font-size: 22px;
    line-height: 34px;
    padding-left: 95px;
    padding-right: 60px;
    margin-bottom: 37px;
    max-width: 778px;
    position: relative;

}
.page-main__text::before {
    content: "";
    width: 66px;
    height: 2px;
    position: absolute;
    background-color: $white;
    top: 15px;
    left: 0;
}

.page-main .page-main__btn {
  box-sizing: border-box;
   max-width: 407px;
   font-family: "Roboto Condensed";
   font-weight: bold;
   line-height: 19px;
   text-align: center;
   padding: 17px 28px 14px 28px;
   margin-left: 98px;
   margin-bottom: 93px;
   text-transform: uppercase;
   background-color: $bg-blue;
   border-color: $bg-blue;
}

.page-main__scroll {
  position: relative;
  height: 93px;
  width: 13px;
  display: inline-block;
  transform: rotate(270deg);
  font-family: PT Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  color: $white;
  opacity: 0.5;
}


@media (max-width: $tablet-width) {
  .page-main__title {
     max-width: 470px;
  }
  .page-main__text {
    font-size: 18px;
    padding-left: 50px;
    width: 54%;
  }
  .page-main__text::before {
    width: 33px;
    height: 2px;
    top: 15px;
    left: 0;
}

  .page-main__maska {
    margin-bottom: 54px;
  }

}
@media (max-width: $mobile-width) {
  .page-main__maska {
    margin-bottom: 37px;
  }
}
