.site-menu__list {
  max-width: 436px;
  display: flex;
  flex-wrap: wrap;
}

.site-menu__item {
  list-style: none;
  margin-right: 65px;
}

.site-menu__link {
  text-decoration: none;
  color: $bg-black;
  opacity: 0.5;
  padding-right: 65px;
}

@media (max-width: $tablet-width) {
  .site-menu__list {
    flex-direction: column;
  }
}
