.site-contacts {
  width: 25%;
  margin-left: 14.5%;
}

.site-contacts__list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  margin-right: -50px;
}

.site-contacts__item {
  list-style: none;
}

.site-contacts__link {
  @include font-superbasic;
  text-decoration: none;
  color: $bg-black;
  opacity: 0.5;
}

.site-contacts__title {
  @include font-condensed-title;
  display: block;
  text-transform: uppercase;
  margin: 0 0 29px;
  color: $bg-black;
}

@media (max-width: $tablet-width) {
  .site-contacts__list {
    flex-direction: column;
    margin: 0;
  }

  .site-contacts {
    width: 48%;
    // padding-top: 38px;
    padding-right: 0;
    margin-left: 0;
  }

  .site-contacts__title {
    @include font-condensed-title;
    margin-bottom: 25px;
  }

  .site-contacts__link {
    @include font-superbasic;
  }
}

@media (max-width: $mobile-width) {
  .site-contacts {
    padding: 29px 15px 27px;
    width: 100%;
    margin: 0;
  }

  .site-contacts__title {
    position: relative;
    margin: 0;
  }

  .site-contacts__link {
    @include font-superbasic;
  }
}
