.site-menu {
  width: 520px;
  display: flex;
  flex-direction: column;
  margin-right: 8%;
}

.site-menu__title {
  @include font-condensed-title;
  text-transform: uppercase;
  margin: 0 0 29px;
  color: $bg-black;
}

.site-menu__nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.site-menu__list {
  @include list-reset;
  display: flex;
  flex-direction: column;
}

.site-menu__list--about {
   width: 53%;
}

.site-menu__item {
  list-style: none;
  margin-bottom: 5px;
}

.site-menu__link {
  display: inline-block;
  text-decoration: none;
  color: $bg-black;
  opacity: 0.5;

}

@media (max-width: $tablet-width) {
  .site-menu__list {
    width: 100%;
    flex-direction: column;
  }

  .site-menu {
    width: 45%;
    padding-left: 3.13%;
  }

  .site-menu__nav {
    flex-direction: column;
    margin-bottom: 12px;
  }

  .site-menu__title {
    @include font-condensed-title;
  }
}

@media (max-width: $mobile-width) {
  .site-menu {
    padding-left: 3.13%;
    padding-top: 29px;
    margin-bottom: 21px;
    border-bottom: 1px solid rgba(98,105,98, .2);
  }

  .site-menu__link {
    @include font-superbasic;
  }
}
