.site-menu {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.site-menu__title {
  margin: 0 0 25px;
  color: $bg-black;
}

.site-menu__lists {
  width: 23%;
  display: flex;
  justify-content: space-between;
}

.site-menu__list {
  @include list-reset;
  margin-right: 13%;
  display: flex;
  flex-direction: column;
}

.site-menu__list--nav {
  @include list-reset;
}

.site-menu__item {
  list-style: none;
  margin-right: 65px;
}

.site-menu__link {
  text-decoration: none;
  color: $bg-black;
  opacity: 0.5;

}

@media (max-width: $tablet-width) {
  .site-menu__list {
    flex-direction: column;
  }
}
