.social {
  margin-bottom: 41px;
}

.social__list {
  .reset-lists;
  display: flex;
  margin: 0 84px;
  justify-content: center;
}

.social__item {
  width: 46px;
  height: 48px;
  background-color: @bg-darkblue;
  margin-right: 6px;
  padding-top: 5px;
  box-sizing: border-box;
}

.social__item::before {
  background-repeat: no-repeat;
  background-position: 0 0;
}

.social__icon {
  width: 18px;
  height: 14px;
}

.social__btn {
  fill: @white;
  margin-left: 15px;
}

.social__item:hover {
  background-color: @darkblue;
}

.social__item:active {
  background-color: @super-darkblue;
}

.social__icon:active {
  opacity: 0.3;
}

@media (min-width: 1200px) {
  .sedona-promotion__town {
    padding-bottom: 40px;
  }
}
