.wrapper--dark {
   width: 74%;
   margin-left: auto;
   margin-right: auto;
}

.wrapper--light {
   background-color: $white;
}

@media (max-width: $tablet-width) {
  .wrapper {
    max-width: 96%;
    margin: 0 auto;
  }

}

@media (max-width: $mobile-width) {
  .wrapper {
    max-width: 69%;
    margin: 0 auto;

  }
  .wrapper--dark {
    margin: 0 30px;
  }
}
