.wrapper--block {
  width: 74%;
  margin-left: auto;
  margin-right: auto;
}

.wrapper--light {
  background-color: $white;
}

@media (max-width: $tablet-width) {
  .wrapper--block {
    width: 91%;
    margin: 0 auto;
  }
}

@media (max-width: $mobile-width) {
  .wrapper--block {
    width: 82%;
  }
}
