@font-face {
  font-family: "pt_monoregular", monospace;
  src: local("PT Mono Regular");
  src: url("../fonts/ptmono-regular-webfont.woff2") format("woff2"),
       url("../fonts/ptmono-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed", "Arial", "Tahoma", sans-serif;
  src: local("Roboto Condensed Bold"),
        local("robotocondensed_bold");
  src: url("fonts/robotocondensed-bold-webfont.woff2") format("woff2"),
       url("fonts/robotocondensed-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Medium", "Arial", "Tahoma", sans-serif;
  src: local("Roboto Medium"),
        local("robotomedium");
  src: url("fonts/roboto-medium-webfont.woff2") format("woff2"),
       url("fonts/roboto-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
