body {
  width: 100%;
  line-height: 1.5;
  letter-spacing: 0.01em;
  box-sizing: border-box;
  margin: 0;
  background-color: #ffffff;
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: $ss-grey;
  background-color: $white;
  box-sizing: border-box;
  position: relative;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
* {
  padding: 0;
  margin: 0;
}

@media (max-width: $tablet-width) {
  body {
    max-width: 1023px;
  }
}

@media (max-width: $mobile-width) {
  body {
    max-width: 767px;
  }
}
