body {
  @include font-basic;
  letter-spacing: 0.01em;
  box-sizing: border-box;
  color: $ss-grey;
  background-color: $white;
  outline-color: $bg-blue;
}

html {
  scroll-behavior: smooth;
}

img {
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@media (max-width: $tablet-width) {
  body {
    max-width: 1023px;
  }
}

@media (max-width: $mobile-width) {
  body {
    max-width: 767px;
  }
}
