$bg-black: #1B2D37;
$bg-lightgrey:#E5E5E5;
$bg-blue: #00B2FF;
$white: #ffffff;
$middlegrey: #666666;
$superlightgrey: #EBEBEB;
$darkgrey: #203C42;
$white-grey: #FAFAFA;
$grey: #788891;
$ss-grey: #CDCDCD;
$grey :#788891;
$ftgrey: #1B2D37;
$mobile-width: 767px;
$tablet-width: 1023px;


@mixin font-supermin {
  font-family: "PT Mono";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
}

@mixin font-superbasic {
  font-family: "PT Mono";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
}
@mixin font-basic {
  font-family: "PT Mono";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}

@mixin font-min {
  font-family: "PT Mono";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

@mixin font-medium {
  font-family: "PT Mono";
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 34px;
}

@mixin font-condensed-btn {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

@mixin font-condensed-title {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
}

@mixin font-condensed-basic {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}

@mixin font-condensed {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
}

@mixin font-condensed-popup {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 140%;
}

@mixin font-condensed-min {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 140%;
}

@mixin font-condensed-min {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
}

@mixin font-condensed-bold {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}



@mixin font-condensed-medium {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 70px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}

@mixin font-condensed-max {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;

}

@mixin font-condensed-supermax {
  font-family: "Roboto Condensed";
  font-size: 120px;
  font-weight: 700;
  line-height: 1.15;
}

