$bg-black: #1b2d37;
$bg-lightgrey:#e5e5e5;
$bg-blue: #00b2ff;
$white: #ffffff;
$middlegrey: #666666;
$superlightgrey: #ebebeb;
$darkgrey: #203c42;
$white-grey: #fafafa;
$grey: #788891;
$ss-grey: #cdcdcd;
$grey:#788891;
$border-grey:#626962;
$ac-grey: #c4c4c4;
$opasity-white: rgba(255, 255, 255, 0.1);
$opacity-border: 1px solid rgba(98, 105, 98, 0.2);
$mobile-width: 767px;
$tablet-width: 1023px;
$transition-duration: 0.3s;
$transition-type: ease;
$opacity-hover: 0.6;
$opacity-active: 0.3;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;


@mixin font-supermin {
  font-family: "PT Mono", monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  letter-spacing:  0.64px;
}

@mixin font-superbas {
  font-family: "PT Mono", monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: 0.48px;
}

@mixin font-superbasic {
  font-family: "PT Mono", monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
}

@mixin font-basic {
  font-family: "PT Mono", monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}

@mixin font-min {
  font-family: "PT Mono", monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

@mixin font-medium {
  font-family: "PT Mono", monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 34px;
}

@mixin font-condensed-btn {
  font-family: "Roboto Condensed", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.64px;
  text-transform: uppercase;
}

@mixin font-condensed-title {
  font-family: "Roboto Condensed", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.8px;
}

@mixin font-condensed-basic {
  font-family: "Roboto Condensed", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.8px;
}

@mixin font-condensed-20 {
  font-family: "Roboto Condensed", "Tahoma", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
}

@mixin font-condensed {
  font-family: "Roboto Condensed", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
}

@mixin font-condensed-popup {
  font-family: "Roboto Condensed", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 140%;
}

@mixin font-condensed-min {
  font-family: "Roboto Condensed", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 140%;
}

@mixin font-condensed-medium {
  font-family: "Roboto Condensed", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
}

@mixin font-condensed-bold {
  font-family: "Roboto Condensed", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 1.12px;
  text-transform: uppercase;
}

@mixin font-condensed-medium-big {
  font-family: "Roboto Condensed", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 70px;
  letter-spacing: 1.12px;
  text-transform: uppercase;
}

@mixin font-condensed-max {
  font-family: "Roboto Condensed", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 1.12px;
  text-transform: uppercase;
}

@mixin font-condensed-supermax {
  font-family: "Roboto Condensed", "Tahoma", sans-serif;
  font-size: 120px;
  font-weight: 700;
  line-height: 1.15;
}
